body{
	background-image: url("bpbwave.jpg");
	background-size: auto; 
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1{
	text-align: center;


	
}
.display-3{

	text-decoration: underline;
	color: white;



}

p{
	text-align: center;
	width: 100%;

}

p, h1, h3, body, .jumbotron {
	font-family: "footlight MT light", "Times New Roman", "Times", "serif";

}

.paraLeft{
	background-color: rgba(53, 53, 53, 0.9);
	font-size: 185%;
	box-shadow: 1px 1px 15px black;
	color: white;
	margin-top: 20px;
	margin-left: 18px;
	margin-bottom: 10px;
	margin-right: 30px;
	border-radius: 15px;
	padding: 5px;
}

.paraRight{
	background-color: rgba(53, 53, 53, 0.9);
	font-size: 185%;
	box-shadow: 1px 1px 15px black;
	color: white;
	margin-top: 20px;
	margin-right: 20px;	
	margin-bottom: 20px;
	margin-left: 30px;
	border-radius: 15px;
	padding: 5px;
}

img#big{
    width: 50%;
    height: auto;
    padding: 18px;
}

a:link {
    color: #D642E5;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: #D642E5;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: #24C4EF;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #32E758;
    text-decoration: underline;
}
