header, body, div, nav, aside, img#reg {
	font-size: 90%;
}
img#reg {
	display: none;
}

img#mmm {
	display: block;
	margin: auto;
}

nav, aside{
	width: 35%;
	height: 100px;
	padding: 2px;
	float: left;
	
}
nav{
	margin: 3px 25px 10px 30px;	
}

aside {
	margin: 3px 0px 10px 30px;
}

div{
	margin: 10px;
	padding: 5px;
	height: 100px;
	width: 75%;
}